<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${title}">Default Title</title>
    <!-- Thêm các thẻ link và script cần thiết -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        footer {
            margin-top: auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="header"></div>
<div class="container">
    <h1 class="text-center text-info mt-1">THÊM ĐIỂM</h1>
    <form th:object="${add_score}" th:action="@{/add_score}" method="post">

        <div class="form-floating">
            <select class="form-select" th:field="*{semesterId}" id="semester" name="semester">
                <option th:each="f : ${semester}" th:value="${f.id}" th:text="${f.id}"></option>
            </select>
            <label for="semester" class="form-label">Học kì</label>
        </div>
        <div class="form-floating">
            <select class="form-select" th:field="*{studentSubjectId}" id="student_subject" name="student_subject">
                <option th:each="f : ${student_subject}" th:value="${f.id}" th:text="${f.id}"></option>
            </select>
            <label for="student_subject" class="form-label">Mã SV-MH</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <button type="submit" class="btn btn-info">Thêm SV-MH</button>
        </div>
    </form>
</div>
<div th:replace="footer"></div>
</body>
</html>

