<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/headTag"/>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/sideBar"/>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="fragments/navBar" />
            <!-- End of Topbar -->

            <div class="container">
                <h1 class="text-center text-a mt-1">THÊM SINH VIÊN</h1>
                <form th:object="${add_student}" th:action="@{/add_student}" method="post">
                    <div class="form-floating">
                        <input type="text" class="form-control" th:field="*{id}" id="id" placeholder="ID" name="id" />
                        <label for="id">ID</label>
                        <div th:if="${#fields.hasErrors('id')}" class="text-danger">Lỗi: <span th:errors="*{id}"></span></div>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Tên sinh viên" name="name" />
                        <label for="name">Tên sinh viên</label>
                        <div th:if="${#fields.hasErrors('name')}" class="text-danger">Lỗi: <span th:errors="*{name}"></span></div>
                    </div>
                    <div class="form-floating">
                        <input type="date" class="form-control" th:field="*{birthday}" id="birthday" placeholder="Ngày sinh" name="birthday" />
                        <label for="birthday">Ngày sinh</label>
                        <div th:if="${#fields.hasErrors('birthday')}" class="text-danger">Lỗi: <span th:errors="*{birthday}"></span></div>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="gender" name="gender">
                            <option value="1" selected>Nam</option>
                            <option value="0">Nữ</option>
                        </select>
                        <label for="gender">Giới tính</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" th:field="*{identification}" id="identification" placeholder="Căn cước công dân" name="identification" />
                        <label for="identification">Căn cước công dân</label>
                        <div th:if="${#fields.hasErrors('identification')}" class="text-danger">Lỗi: <span th:errors="*{identification}"></span></div>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" th:field="*{phone}" id="phone" placeholder="Số điện thoại" name="phone" />
                        <label for="phone">Số điện thoại</label>
                        <div th:if="${#fields.hasErrors('phone')}" class="text-danger">Lỗi: <span th:errors="*{phone}"></span></div>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" th:field="*{address}" id="address" placeholder="Địa chỉ" name="address" />
                        <label for="name">Địa chỉ</label>
                        <div th:if="${#fields.hasErrors('address')}" class="text-danger">Lỗi: <span th:errors="*{address}"></span></div>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" th:field="*{userId}" id="user" name="user">
                            <option th:each="f : ${user}" th:value="${f.id}" th:text="${f.id}"></option>
                        </select>
                        <label for="user" class="form-label">Mã tài khoản</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" th:field="*{classesId}" id="classes" name="classes">
                            <option th:each="f : ${classes}" th:value="${f.id}" th:text="${f.id}"></option>
                        </select>
                        <label for="classes" class="form-label">Mã lớp</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" th:field="*{facultyId}" id="faculty" name="faculty">
                            <option th:each="f : ${faculty}" th:value="${f.id}" th:text="${f.name}"></option>
                        </select>
                        <label for="faculty" class="form-label">Khoa</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" th:field="*{majorId}" id="major" name="major">
                            <option th:each="f : ${major}" th:value="${f.id}" th:text="${f.name}"></option>
                        </select>
                        <label for="faculty" class="form-label">Chuyên ngành</label>
                    </div>

                    <div class="form-floating mb-3 mt-3">
                        <button type="submit" class="btn btn-info">Thêm sinh viên</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="fragments/footer" />
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>

