
<div th:replace="header"></div>
<div class="container">
    <h1 class="text-center text-success mt-1">DANH SÁCH LỚP</h1>

    <div class="d-flex justify-content-between">
        <div>
            <a th:href="@{/add_class}" class="btn btn-info mt-1">Thêm Lớp</a>
        </div>
        <div>
            <form class="d-flex" th:action="@{/classes}">
                <input class="form-control me-2" name="kw" type="text" placeholder="Nhập từ khóa..." th:value="${keyword}">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
    <ul class="pagination mt-1">
        <li class="page-item"><a class="page-link" th:href="@{/classes?page=1}">Tất cả</a></li>
        <th:block th:each="i : ${#numbers.sequence(0, classesPage.totalPages-1)}">
            <li class="page-item"><a class="page-link" th:href="@{/classes(page=${i})}" th:text="${i}+1"></a></li>
        </th:block>
    </ul>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>ID Khoa</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="classes : ${classesPage}">
            <td th:text="${classes.id}"></td>
            <td th:text="${classes.facultyId.name}"></td>
            <td>

                <a th:href="@{/update_class/{id}(id=${classes.id})}" class="btn btn-info">Cập nhật</a>
                <button class="btn btn-danger" th:attr="data-classes-id=${classes.id}" onclick="deleteFaculty('/api/update_class/' + this.getAttribute('data-classes-id'))">Xóa</button>
            </td>
        </tr>
        </tbody>
    </table>
    <script th:src="@{js/main.js}"></script>
</div>
<div th:replace="footer"></div>
</body>
</html>

