
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">TRƯỜNG ĐẠI HỌC MỞ TP.HCM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto" >
<!--                <se:authorize access="hasRole('ROLE_GIAOVU')">-->
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                        <a class="nav-link" href="/">Trang chủ</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                        <a class="nav-link" href="/faculty" >Khoa</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                        <a class="nav-link" href="/major">Chuyên ngành</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                        <a class="nav-link" href="/lecturer">Giảng viên</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                        <a class="nav-link" href="/user">Tài Khoản</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                        <a class="nav-link" href="/classes">Lớp học</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                        <a class="nav-link" href="/semester">Học kỳ</a>
                    </li>
                <li class="nav-item dropdown" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sinh Viên - Môn Học
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/student">Sinh viên</a>
                        <a class="dropdown-item" href="/subject"> Môn học</a>
                        <a class="dropdown-item" href="/student_subject"> SV-MH</a>
                    </div>
                </li>
                    <li class="nav-item dropdown" th:if="${#authorization.expression('hasRole(''ROLE_GIAOVU'')')}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quản lý điểm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/score">Điểm</a>
                            <a class="dropdown-item" href="/score_value"> Chi tiết điểm</a>
                            <a class="dropdown-item" href="/score_column"> Cột điểm</a>
                        </div>
                    </li>
                <li class="nav-item">
                    <!-- Sử dụng Thymeleaf để kiểm tra đăng nhập -->
                    <a class="nav-link" th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}">Đăng xuất</a>

                    <!-- Nếu chưa đăng nhập -->
                    <a class="nav-link" th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}">Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a style="color: blue;"  class="nav-link" th:if="${#authorization.expression('isAuthenticated()')}" href="/">Xin chào <span th:text="${#authentication.name}"></span></a>

                </li>
            </ul>
        </div>
    </div>
</nav>
