<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${title}">Default Title</title>
    <!-- Thêm các thẻ link và script cần thiết -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        footer {
            margin-top: auto;
            text-align: center;
        }
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
        }
    </style>
</head>
<body>
<div th:replace="header"></div>
<div class="container">
    <section class="container">
        <h1 class="text-center text-success mt-1">DANH SÁCH GIẢNG VIÊN</h1>

        <div class="d-flex justify-content-between">
            <div>
                <a th:href="@{/add_lecturer}" class="btn btn-info mt-1">Thêm giảng viên</a>
            </div>
            <div>
                <form class="d-flex" th:action="@{/lecturer}">
                    <input class="form-control me-2" name="kw" type="text" placeholder="Nhập từ khóa..." th:value="${keyword}">
                    <button class="btn btn-primary" type="submit">Tìm</button>
                </form>
            </div>
        </div>
        <ul class="pagination mt-1">
            <li class="page-item"><a class="page-link" th:href="@{/lecturer?page=1}">Tất cả</a></li>
            <th:block th:each="i : ${#numbers.sequence(0, lecturerPage.totalPages-1)}">
                <li class="page-item"><a class="page-link" th:href="@{/lecturer(page=${i})}" th:text="${i}+1"></a></li>
            </th:block>
        </ul>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Tên giảng viên</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Khoa</th>
                <th>Mã tài khoản</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- Use a loop to generate table rows based on your data -->
            <tr th:each="lecturer : ${lecturerPage}">
                <td th:text="${lecturer.id}"></td>
                <td th:text="${lecturer.name}"></td>
                <td th:text="${lecturer.gender}"></td>
                <td th:text="${lecturer.phone}"></td>
                <td th:text="${lecturer.email}"></td>
                <td th:text="${lecturer.facultyId.name}"></td>
                <td th:text="${lecturer.userId.id}"></td>
                <td>

                    <a th:href="@{/update_lecturer/{id}(id=${lecturer.id})}" class="btn btn-info">Cập nhật</a>
                    <button class="btn btn-danger" th:attr="data-lecturer-id=${lecturer.id}" onclick="deleteFaculty('/api/update_lecturer/' + this.getAttribute('data-lecturer-id'))">Xóa</button>
                </td>
            </tr>
            <!-- Repeat the above row structure for each faculty -->
            </tbody>
        </table>
    </section>
    <script th:src="@{js/main.js}"></script>
</div>
<div th:replace="footer"></div>
</body>
</html>

