<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="${title}">Default Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        footer {
            margin-top: auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="header"></div>
<div class="container">
    <h1 class="text-center text-info mt-1">THÊM TỈ LỆ ĐIỂM</h1>
    <form th:object="${update_score_percent}" th:action="@{/update_score_percent}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control"  th:field="*{percentCK}" id="percentCK" placeholder="Tỉ lệ điểm cuối kì" name="percentCK" />
            <label for="percentCK">Tỉ lệ điểm cuối kì</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control"  th:field="*{percentGK}" id="percentGK" placeholder="Tỉ lệ điểm giữa kì" name="percentGK" />
            <label for="percentGK">Tỉ lệ điểm giữa kì</label>
        </div>
        <div class="form-floating">
            <select class="form-select" th:name="subjectId" id="subject" name="subject">
                <option th:each="f : ${subject}" th:value="${f.id}" th:text="${f.name}"></option>
            </select>
            <label for="subject" class="form-label">Môn học</label>
        </div>
        <div class="form-floating mb-3 mt-3">
            <button type="submit" class="btn btn-info">
                Thêm
            </button>
        </div>
    </form>
</div>
<div th:replace="footer"></div>
</body>
</html>

